---
layout: default
title: Feinkost Internet - Handgesprochene Podcasts, saftiges Internet direkt vom Erzeuger
---

<div id="home">
  <div class="posts">
    {% for post in paginator.posts %}
      {% include post-entry.html post=post %}
      <hr>
    {% endfor %}

    <div class="pagination">
        <span class="page_number ">Seite {{ paginator.page }} von {{ paginator.total_pages }}</span> -
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path }}" class="previous">Neuere Folgen</a>
        {% endif %}
        {% if paginator.next_page %}
          {% if paginator.previous_page %} - {% endif %}
          <a href="{{ paginator.next_page_path }}" class="next">Ältere Folgen</a>
        {% endif %}
      </div>

  </div>
</div>
