---
layout: default
title: Feinkost Internet - Handgesprochene Podcasts, saftiges Internet direkt vom Erzeuger
---

<div id="home">
  <div class="posts">
    {% for post in site.posts %}
      <div class="page-entry">
        <h2>
          <a href="{{ site.baseurl }}{{ post.url }}">
            {% if post.file_url %}
              <i class="fa fa-podcast" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-microchip rotate-45-cw" aria-hidden="true"></i>
            {% endif %}
            <span>
                {{ post.title }}
                <p class="meta">
                  {%- include date.html date=post.date -%}
                  {%- if post.author %}, geschrieben von {{ post.author }}{% endif -%}
                </p>
            </span>
          </a>
        </h2>

        {% if post.file_url %}
          <audio src="{{post.file_url}}" controls preload="none"></audio>
        {% endif %}

        {{ post.content }}
        <hr>
      </div>
    {% endfor %}
  </div>
</div>
