---
layout: default
title: Feinkost Internet - Handgesprochene Podcasts, saftiges Internet direkt vom Erzeuger
---

<div id="home">
  <div class="pages">
    {% for page in site.posts %}
      <div class="page-entry">
        <h2>
          <a href="{{ site.baseurl }}{{ page.url }}">
            {% if page.file_url %}
              <i class="fa fa-podcast" aria-hidden="true"></i>
            {% else %}
              <i class="fa fa-microchip rotate-45-cw" aria-hidden="true"></i>
            {% endif %}
            <span>
                {{ page.title }}
                <p class="meta">{{ page.date | date_to_string }}{% if page.author %}, geschrieben von {{ page.author }}{% endif %}</p>
            </span>
          </a>
        </h2>
        
        {% if page.file_url %}
          <audio src="{{page.file_url}}" controls preload="metadata"></audio>
        {% endif %}
        
        {{ page.content }}
        <hr>
      </div>
    {% endfor %}
  </div>
</div>
