.page-header {
  @include large {
    padding: 5rem 0 1rem;
  }

  @include medium {
    padding: 4rem 0 1rem;
  }

  @include small {
    padding: 4rem 0 1rem;
  }
}
.navigation {
  
  text-align: left;
  
  a {
    display: inline-block;
    margin: 0 15px 0 0; 
    
    color: white;
  }
  
  @include large {
    max-width: 64rem;
    padding: 2rem 6rem 0;
    margin: 0 auto;
  }

  @include medium {
    padding: 2rem 4rem  0;
    font-size: 1.1rem;
  }

  @include small {
    padding: 2rem 1rem  0;
    font-size: 1rem;
  }
}

h1 a, h1 a:hover, h1 a:active {
  color: $header-heading-color;
  text-decoration: none;
}

h2 a, h2 a:hover, h2 a:active {
  color: $section-headings-color;
  text-decoration: none;
}

audio {
  display: block;
  margin: 20px 0;
}

.podlove-subscribe-element {
  position: absolute;
  top: 15px;
  right: 15px;
  
  height: 41px;
  width: 140px;
    
  vertical-align: middle;

  margin: 0 auto;
  
  @include medium {
    top: 5px;
    right: 5px;
  }

  @include small {
    top: 5px;
    right: 5px;
  }
}

.page-entry {
  margin-bottom: 5rem;
}