.page-header {
  background-size: cover;
  background-position: 50% 50%;
  background-color: transparent;
  padding: 0;
  background-image: url(/assets/img/lossy-background.jpg);
  
  @include large {
    height: 288px;
  }

  // @include medium {
  //   background-image: url(/assets/img/header-medium.jpg);
    
  //   height: 260px;
  // }

  @include small {
    height: 200px;
  }

    .page-header-wrapper {
      max-width: 64rem;
      padding: 0 6rem;
      margin: 0 auto;
      font-size: 1.1rem;
      position: relative;

      @include small {
        padding: 0;
      }

      img {
        max-width: 625px;
      }

    }

}
.navigation {
  position: absolute;
  text-align: left;
  bottom: 0;
  
  a {
    display: inline-block;
    margin: 0 15px 0 0; 
    font-size: 13px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: white;
  }
  
  @include large {
    max-width: 64rem;
    margin: 0 auto;
  }

  @include medium {
    font-size: 1.1rem;
  }

  @include small {
    font-size: 1rem;
  }
}

h1 a, h1 a:hover, h1 a:active {
  color: $header-heading-color;
  text-decoration: none;
}

h2 a, h2 a:hover, h2 a:active {
  color: $section-headings-color;
  text-decoration: none;
}

audio {
  display: block;
  margin: 20px 0;
}

.podlove-subscribe-element {
  position: absolute;
  top: 15px;
  right: 15px;
  
  height: 41px;
  width: 140px;
    
  vertical-align: middle;

  margin: 0 auto;
  
  @include medium {
    top: 5px;
    right: 5px;
  }

  @include small {
    top: 5px;
    right: 5px;
  }
}

.page-entry {
  margin-bottom: 5rem;
}

.about {
  font-family: 'Caveat';
  font-size: 16px;
  padding: 20px 20px 40px 20px;
  display: block;
  line-height: 1.5;
  text-align:center;
}
