h1 a, h1 a:hover, h1 a:active {
  color: white;
  text-decoration: none;
}

audio {
  display: block;
  margin: 20px 0;
}

.podlove-subscribe-element {
  height: 41px;
  width: 140px;

  margin: 0 auto;
}