<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:200,400,700" rel="stylesheet">
  <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css?t={{site.time | date: '%F-%T'}}">

  <link rel="canonical" type="application/rss+xml" title="{{ site.podcast_title }}" href="{{ site.podcast_feed_url }}" />

  {% seo title=false %}

  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/favicon/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/assets/img/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/img/favicon/favicon-16x16.png">
  <link rel="manifest" href="manifest.json">
  <meta name="theme-color" content="#ffffff">
</head>
