<div class="podlove-subscribe-element">
  <script>
    window.podcastData={
      "title": "{{ site.title }}",
      "subtitle":"{{ site.tagline }}",
      "description":"{{ site.description }}",
      "cover":"{{ site.logo_url }}",
      "feeds":[
        { "type":"audio","format":"mp3","url":"{ site.url }}{{ podcast_feed }}" }
      ]
    }
  </script>
  <script class="podlove-subscribe-button" src="https://cdn.podlove.org/subscribe-button/javascripts/app.js"
    data-language="de"
    data-size="medium"
    data-json-data="podcastData"
    data-color="#ffffff"
    data-format="rectangle"
    data-style="outline">
  </script>
  <noscript><a href="{ site.url }}{{ podcast_feed }}">Subscribe to feed</a></noscript>
</div>