---
layout: default
---
<div class="page-entry">
  <h2>
    <a href="{{ site.baseurl }}{{ page.url }}">
      {% if page.file_url %}
        <i class="fa fa-podcast" aria-hidden="true"></i>
      {% else %}
        <i class="fa fa-microchip rotate-45-cw" aria-hidden="true"></i>
      {% endif %}
      <span>
          {{ page.title }}
          <p class="meta">
            {%- include date.html date=page.date -%}
            {%- if page.author %}, geschrieben von {{ page.author }}{% endif -%}
          </p>
      </span>
    </a>
  </h2>

  {% if page.file_url %}
    <audio src="{{ site.statisticsUrl }}{{page.file_url | replace:'http://','' | replace:'https://',''}}" controls preload="none"></audio>
  {% endif %}

  {{ content }}

  {% if page.team %}
    <h3>Team</h3>
    <div class="team-members">
      {% for id in page.team %}
        {% assign member = site.data.team | where: "id", id | first %}
        {% include team-member.html %}
      {% endfor %}
    </div>
  {% endif %}

  {% include comments.html %}
</div>
